DATABASE_URL="postgres://postgres:postgres@postgres:5432/db"
JWT_SECRET="4X1fdYDG8LGBURWxT042Jqr9XZqKP4F4JqbVE+moI5Ly3iU/wCUQbS8ei3KRcG0XQtrO0gngbrCitl35R9ERrw=="
PGHOST="localhost"
PGPORT="5432"
PGUSER="postgres"
PGPASSWORD="postgres"
PGDATABASE="db"
MAIL_HOST="smtp.ethereal.email"
MAIL_PORT="587"
MAIL_USER="l"
MAIL_PASS=""
MAIL_FROM_EMAIL="noreply@ethereal.email"
MAIL_FROM_NAME="No Reply"
BASE_URL="http://localhost:8080"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=https://localhost:3000/auth/google/redirect
FORTYTWO_CLIENT_ID=
FORTYTWO_CLIENT_SECRET=
FORTYTWO_CALLBACK_URL=https://localhost:3000/auth/42/redirect