DATABASE_URL="postgres://postgres:postgres@postgres:5432/db"
MAIL_HOST="smtp.ethereal.email"
MAIL_PORT="587"
MAIL_USER=""
MAIL_PASS=""
MAIL_FROM_EMAIL="noreply@ethereal.email"
MAIL_FROM_NAME="No Reply"
BASE_URL="https://localhost:8080"

WS_PORT=8090

FORTYTWO_CLIENT_ID=
FORTYTWO_CLIENT_SECRET=
FORTYTWO_CALLBACK_URL=https://localhost:8443/api/auth/42/redirect
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=https://localhost:8443/api/auth/google/redirect